* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

body {
    background-color: #FAFAFA;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #87879D;
    max-width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 54px;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.main-text {
    position: relative;
}

.top-images {
    display: flex;
    gap: 20px;
}

.top-images img {
    width: 199px;
    height: 153px;
    gap: 20px;
}

.introduction {
    display: block;
    height: fit-content;
}

.png {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
    
     /* flex-direction: column; */
    /* width: 56px;
    height: 140px; */
}

.png-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;

    /* flex-direction: column; */
}

.top-text {
    margin: 0 auto;
    max-width: 287px;
}

.mid-text {
    margin: auto;
    max-width: 300px;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    color: #28283D;
    margin: 50px auto 0 auto;
}

h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    color: #28283D;
}

.overline {
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

#button-text {
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: #FFF;
}

.button-blue {
    border: none;
    border-radius: 29px;
    background-color: #4D96A9;
    text-align: center;
    padding: 16px 32px;
    color: #8FE3F9;
    font-weight: 900;
    line-height: 26px;
    width: 193px;
}

.button-blue:hover {
    cursor: pointer;
    background-color: #71C0D4;
}

.button-purp {
    border: none;
    border-radius: 29px;
    background-color: #855FB1;
    text-align: center;
    padding: 16px 20px;
    color: #D9B8FF;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    width: 139px;
}

.button-purp:hover {
    cursor: pointer;
    background-color: #B18BDD;

}

/*The following GRID only applies to mobile view version*/

#image-gallery *{
    width: 151px;
    height: 141px;
    border-radius: 8px;
 
}

#image-gallery{
    display: grid;
    grid-template-columns: 151px 151px;
    grid-template-rows: 141px 141px;
    grid-template-areas: 
    "woman-c woman-p"
    "man-c man-p";
    gap: 25px;
    margin-bottom: 64px;
}

.woman-computer{
    grid-area: woman-c;
}

.woman-phone{
    grid-area: woman-p;
}

.man-computer{
    grid-area: map-c;
}

.man-phone{
    grid-area: man-c;
}

article#smarter-meetings-description{
    width: 327px;
    height: 284px;
}

/**/
#smarter-meetings-description:nth-child(2){
    margin-top: 24px;
    margin-bottom: 32px;
}

#smarter-meetings-description #smarter1{
    margin: 0px;
}
#smarter-meetings-description #smarter3{
    margin: 0;
}



/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::Medium (md) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media (min-width: 768px) {
    .button-group {
        flex-direction: row;
    }
    
    .introduction img {
        width: 394px;
        height: 303px;
    }

    .top-text {
        max-width: 339px;
    }

    .mid-text {
        margin: auto;
        max-width: 457px;
    }

    #image-gallery *{
        width: 164px;
        height: 156px;
    }
    
    #image-gallery{
        display: flex;
        flex-direction: row;
        gap: 11px;
        margin-bottom: 48px;
    }

/*Font Breakpoints*/
    h1 {
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;

    }

    h2 {
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;

    }

    body{
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;

    }

    .overline{
        font-size: 16px;
        font-weight: 900;
        line-height: 26px;
}


/*Spacing Breakpoints*/
article#smarter-meetings-description{
    width: 573px;
    height: 240px;
}

#smarter-meetings-description:nth-child(2){
    margin-top: 16px;
    margin-bottom: 32px;
}
}



/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::Tablet (XL) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media (min-width: 1280px) {
    .main-text {
        margin-top: 0;
    }

    .top-images {
        gap: 600px;
    }

    .main-text {
        position: absolute;
        top: 108px;
        right: 0;
        left: 0;
    }

    .top-text {
        margin: 0 auto 34px auto;
        max-width: 445px;
    }

    .mid-text {
        max-width: 521px;
        margin: 0 auto 32px auto;
    }

    #image-gallery *{
        width: 255px;
        height: 242px;
    }

    #image-gallery{
        gap: 30px;
        margin-bottom: 80px;
    }

/*Font Breakpoints*/
    h1 {
        font-size: 64px;
        font-weight: 900;
        line-height: 64px;
    
    }
    
    h2 {
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;

    }
    
    body{
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;

    }

    .overline{
        font-size: 16px;
        font-weight: 900;
        line-height: 26px;
    }

    article#smarter-meetings-description{
        width: 540px;
        height: 240px;
    }

}

